<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{{modalTitle}}</h2>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Task</label>
            <div class="uk-form-controls uk-margin-small-top">
                <input [(ngModel)]="Todo.Task" class="uk-input" id="form-stacked-text" type="text" placeholder="Task..">
            </div>
        </div>

        <div class="uk-margin">
            <label><input class="uk-checkbox" [(ngModel)]="Todo.Done" [checked]="Todo.Done"
                          type="checkbox"><strong>&nbsp; Is Done?</strong></label>
        </div>

        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button (click)="SaveOrUpdateDept(Todo)" class="uk-button uk-button-primary " type="button">Save</button>
        </p>
    </div>
</div>


<div class="uk-margin-medium-top">
    <h2 class="uk-text-lead uk-text-center">My Todo's</h2>
</div>
<div>
    <button (click)="openModal()" class="uk-button uk-button-default" uk-toggle="target: #modal-example">Create Todo</button>
</div>
<br>
<div class="uk-child-width-expand@s uk-text-center uk-margin-medium-bottom" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            Undone Todo's
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let Todo of UnDoneTodoList">
                    <td style="text-align: left">{{Todo.Task}}</td>
                    <td>
                        <span (click)="doneTask(Todo)" style="color: blueviolet" uk-icon="icon: check" uk-tooltip="Done"></span> &nbsp;
                        <span (click)="updateTodo(Todo)" style="color: green" uk-icon="icon:file-edit" uk-tooltip="Edit" uk-toggle="target: #modal-example"></span> &nbsp;
                        <span (click)="deleteTodo(Todo.Id)" style="color: red" uk-icon="icon: trash" uk-tooltip="Delete"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            Done Todo's
            <table class="uk-table uk-table-divider">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let Todo of DoneTodoList">
                    <td style="text-align: left">{{Todo.Task}}</td>
                    <td>
                        <span (click)="updateTodo(Todo)" style="color: green" uk-icon="icon:file-edit" uk-tooltip="Edit" uk-toggle="target: #modal-example"></span> &nbsp;
                        <span (click)="deleteTodo(Todo.Id)" style="color: red" uk-icon="icon: trash" uk-tooltip="Delete"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
